{{>layouts/header}}
<table class="table">
    <thead>
    <tr class="table-dark">
        <th scope="col">Id</th>
        <td scope="col">Password</td>
    </thead>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <td>{{password}}</td>
        </tr>
    {{/member}}
</table>
{{>layouts/footer}}